@import "./assets/styles/media-queries";

.content {
    background: var(--divider);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;

    .sidebar {
        margin-top: 5rem;
        flex: 0 0 25rem;
        padding: 0 2rem 2rem;

        select {
            width: 100%;
            padding: 1rem;
            margin-bottom: 2rem;
            border: 0;
            outline: 0;
            box-shadow: var(--box-shadow);
            border-radius: 0.3rem;
            background: white;
        }

        .categories {
            padding: 2rem;
            background: white;
            border-radius: 0.3rem;
            box-shadow: var(--box-shadow);

            li {
                margin: 1rem;
                transition: color 0.2s;
                cursor: pointer;

                &:hover {
                    color: var(--primary);

                    strong {
                        color: var(--primary);
                    }
                }
            }

            .active {
                color: var(--primary);
                font-weight: 700;

                strong {
                    color: var(--primary);
                }
            }
        }
    }

    .articles-container {
        max-width: 80rem;
        flex: 1;
        margin: 5rem 0 10rem 0;

        .article {
            background: white;
            padding: 0 5rem;

            @include xs {
                padding: 0 2rem;
            }

            margin-bottom: 6rem;
            border-radius: 3px;
            box-shadow: var(--box-shadow);
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;

            img {
                border-radius: 50%;
                width: 6rem;
                height: 6rem;
                margin-top: -3rem;
            }

            h2 {
                margin-top: 2rem;
                margin-bottom: 0;
            }

            &-author {
                color: var(--hint);
                margin-bottom: 3rem;
            }

            &-content {
                max-width: 550px;
                white-space: pre-line;
            }

            &-actions {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                border-top: 1px solid var(--divider);
                padding: 2rem 0;
                margin-top: 2rem;

                .btn {
                    margin-left: 1rem;
                }
            }
        }
    }
}