.title {
    &-underline {
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--divider);
    }
}

.btn {
    border: 0;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: var(--box-shadow);
        transition: box-shadow 0.2s;
    }

    &-primary {
        background: var(--primary);
        color: white;
    }

    &-secondary {
        border: 1px solid var(--primary);
        background: white;
        color: var(--primary)
    }

    &-danger {
        border: 1px solid var(--error);
        background: white;
        color: var(--error)
    }
}

.text {
    &-error {
        color: var(--error);
    }
}

.calc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        min-width: 300px;
        background: white;
        box-shadow: var(--box-shadow);
        padding: 5rem;
        border-radius: 0.3rem;
        text-align: center;

        p {
            margin: 1rem 0 2rem;
        }

        .btn {
            margin-left: 1rem;
        }
    }
}