:root {
    --primary: #38ada9;
    --dark: #079992;
    --accent: #3c6382;
    --text: #333;
    --divider: #ced6e0;
    --hint: #95a5a6;
    --dark-grey: #385770;
    --error: #e74c3c;
    --font-family: 'Questrial';
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}